.mainHeader1{
	background-color:#474D57;
	height:40px;
}
.mainHeader2{
	background-color:#446E9B;
	color:white;
	height:50px;
	padding-top: 5px;
	padding-left: 100px;
	font-size:25px
}
.mainBody{
	height:700px;
	width: 400px;
	padding-top: 50px;
}